<td class="table-division">
  <div><img src="{{this.picture}}" alt="img" class="table-image" /></div>
</td>
<td class="table-division">
  <div>{{this.name}}</div>
</td>
<td class="table-division">
  <div>{{this.ref}}</div>
</td>
<td class="table-division">
  <div>${{this.price}}</div>
</td>
<td class="table-division">
  <a href="/product-edit/{{this._id}}" data-id-sneaker="{{this._id}}"> <i class="fa fa-edit table-icon"> </i> </a>
</td>
<td class="table-division">
  <a href="/product-delete/{{this._id}}" data-id-sneaker="{{this._id}}"> <i class="fa fa-trash table-icon"> </i> </a>
</td>